{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
    <form method="post" class="mt-2">
    {% csrf_token %}
    <div class="form-group mb-2">
        <label for="{{ form.username.id_for_label }}">Username</label>
        <input type="text" id="{{ form.username.id_for_label }}" name={{ form.username.name }} class="form-control" placeholder="Enter username" >
    </div>

    <div class="mb-2">
        <label for="{{ form.password1.id_for_label }}">Password</label>
        <input type="password" id="{{ form.password1.id_for_label }}" name={{ form.password1.name }} class="form-control" placeholder="Password">
    </div>

    <div class="mb-2">
        <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
        <input type="password" id="{{ form.password2.id_for_label }}" name={{ form.password2.name }} class="form-control" placeholder="Confirm password" >
    </div>

    <input type="submit" value="Registration" role="button" class="btn btn-primary">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <p>{{ message }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </form>

{% endblock %}