{% extends 'base.html' %}

{% block title %} Blog! {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hello <a href="{% url 'blog_edit:edit_user' user.pk %}">{{ user.username }}</a></p>
        <a href="{% url 'blog_auth:logout_page' %}">Log Out</a>
        <p><a href="{% url 'blog_edit:create_post_page' %}">Create New Post</a></p>
    {% else %}
        <p>You're not logged in</p>
        <a href="{% url 'blog_auth:login_page' %}">Sign In</a> <br>
        <a href="{% url 'blog_auth:registration_page' %}">Registration</a>
    {% endif %}
    <h1> POSTS </h1>
    {% for post in posts  %}
        <br>
        <p><b>Publication name: </b> {{ post.title }} | <i>Author: </i> {{ post.profile }}</p>
        <a href="{% url 'blog_posts:single_post' post.pk %}">See post</a>
        <br>
        {% if request.user == post.profile %}
            <p>
                You can
                <a href="{% url 'blog_edit:change_post' post.pk %}">Edit</a>
                your post <br>
                or
                <a href={% url 'blog_edit:delete_post' post.pk %}>Delete</a>
                your post
            </p>
        {% endif %}
        <p><b>When published: </b>{{ post.pub_date }}</p>
        <p><b>Post text:</b></p>
        <p>{{ post.content }}</p>
        <p><b>COMMENTS:</b> <a href="{% url 'blog_edit:add_comment' post.pk %}">Add comment</a></p>
        {% for comment in post.comment_set.all %}
            <p><i>Author: </i>{{ comment.user }}</p>
            <p>{{ comment }}</p>
            <p> When published: {{ comment.pub_date}}
                {% if request.user == comment.user %}
                    <a href="{% url 'blog_edit:del_comment' comment.pk %}">Delete comment</a>
                {% endif %}
            </p>
            <br>
            {% empty %}
            <p><i>It's not comments yet</i></p>

        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}
