{% extends 'base.html' %}
{% block title %} Blog! {% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <p>Hello <a href="{% url 'blog_edit:edit_user' user.pk %}" class="text-success">{{ user.username }}</a></p>
        <p><a href="{% url 'blog_edit:create_post_page' %}" role="button" class="btn btn-warning">Create New Post</a></p>
    {% else %}
        <p>You're not logged in</p>
    {% endif %}
    <h3 class="text-center"> Welcome to posts page!</h3>
    <p class="text-muted text-center">You can view all posts here</p>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6 pt-2">
                <div class="card">
                    <div class="card-header">
                        <p class="text-dark pb-3">{{ post.profile }}
                            {% if request.user == post.profile %}
                                    <a href="{% url 'blog_edit:change_post' post.pk%}" role="button" class="btn btn-secondary btn-sm">
                                    Edit
                                    </a>
                                    <a href="{% url 'blog_edit:delete_post' post.pk %}" role="button" class="btn btn-danger btn-sm">
                                        Delete
                                    </a>
                            {% endif %}
                        </p>
                        <p class="text-muted mb-1">{{ post.pub_date }}</p>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|truncatechars:20 }} </p>
                        <a href="{% url 'blog_posts:single_post' post.pk %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
