{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <a href="{% url 'blog_auth:logout_page' %}">Log Out</a>
    {% else %}
        <p>You're not logged in</p>
        <a href="{% url 'blog_auth:login_page' %}">Sign In</a> <br>
        <a href="{% url 'blog_auth:registration_page' %}">Registration</a>
    {% endif %}
    <h1> POSTS </h1>
    {% for post in posts  %}
        <br>
        <p><b>Publication name: </b> {{ post.title }} | <i>Author: </i> {{ post.profile }}</p>
        <a href="{% url 'posts:single_post' post.pk %}">See post</a>
        <p><b>When published: </b>{{ post.pub_date }}</p>
        <p><b>Post text:</b></p>
        <p>{{ post.content }}</p>
        <p><b>COMMENTS:</b></p>
            {% for comment in post.comment_set.all %}
                <p><i>Author: </i>{{ comment.user }}</p>
                <p>{{ comment }}</p>
                <p> When published: {{ comment.pub_date}}</p>
                <br>
                {% empty %}
                <p><i>It's not comments yet</i></p>
            {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}