{% extends 'base.html' %}

{% block title %} Add New Post {% endblock %}

{% block content %}
    <form method="post" class="mt-2">
        {% csrf_token %}
        <div class="form-group mt-2 color">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            <input type="text" id="{{ form.title.id_for_label }}" name={{ form.title.name }} class="form-control" placeholder="Title" required>
        </div>
        <div class="form-group mt-2 color">
            <label for="{{ form.content.id_for_label }}" class="form-label">Text</label>
            {{ form.content }}
        </div>
        <input type="submit" value="Create" role="button" class="btn btn-primary mt-2">
    </form>
    <a href="{% url 'blog_posts:posts_page' %}" role="button" class="btn btn-secondary mt-2">Back To Posts</a>
{% endblock %}